name: Node.JS CI-CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]

    steps:
      - uses: actions/checkout@v2

      - name: Usa Node.JS versione ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - run: npm install

      - run: npm run build --if-present

      - run: npm test


docker-build-and-push:
  needs: build
  runs-on: ubuntu-latest
  if:  github.ref == 'refs/heads/main'

  steps:
      - uses: actions/checkout@v2

      - name: LogIn su DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Builda e Pusha immagine
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile
          push: true
        tags: a1d3m/esame_cicd
                                                
